:root {
  --swiper-theme-color: rgba(0, 0, 0, 0.7);
  --swiper-navigation-size: 0px !important;
}

.homeSlider {
  padding: 0;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: white !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  transition: all 0.3s ease !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  background-image: none !important;
  font-size: 18px !important;
  width: auto !important;
  height: auto !important;
  min-width: unset !important;
  max-width: unset !important;
  flex: 0 0 auto !important;
  font-weight: bold !important;
  transition: all 0.3s ease !important;
}

.swiper-button-prev svg,
.swiper-button-next svg {
  width: 25px !important;
  height: 25px !important;
  object-fit: contain !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #ff5252 !important;
}
