@import "tailwindcss";

:root {
  --swiper-theme-color: rgba(0, 0, 0, 0.7);
  --swiper-navigation-size: 25px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background: #f5f0f0;
  color: rgba(0, 0, 0, 0.7);
}

.container {
  width: 90%;
  margin: auto;
}

.link:hover {
  color: #ff5252;
}

.MuiTabs-indicator {
  background-color: #ff5252 !important;
}

.MuiTab-textColorPrimary.Mui-selected {
  color: #ff5252 !important;
}
