@import "tailwindcss";

@theme {
  --color-primary: #ff5252;
  --color-background: #ff5252;
  /*--color-secondary: #0f172a;*/
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.container {
  width: 90%;
  margin: auto;
}

.link:hover {
  color: #ff5252;
}
